.navBar {
  color: aqua;
  display: flex;
  width: 100%;
  background-color: black;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;


}

.navBar ul {
  display: flex;
  list-style: none;
  gap: 20px;

}

.navBar li {
  display: inline;
}

.navBar a {
  text-decoration: none;
  color: aliceblue;
  font-size:18px ;
  font-weight: bold;
}

.navBar a:hover {
  color: white;
}
