.navBar {
  color: aqua;
  display: flex;
  /* justify-content: center; */
  background-color: blue;
  padding: 10px;

}

.navBar ul {
  display: flex;
  list-style: none;
  gap: 20px;

}

.navBar li {
  display: inline;
}

.navBar a {
  text-decoration: none;
  color: aliceblue;
  font-size:18px ;
  font-weight: bold;
}

.navBar a:hover {
  color: white;
}
